<md-subheader class="md-no-sticky">
    <h2 class="md-title"><md-icon class="material-icons"> swap_horiz </md-icon> Wordpress </h2>
    <p>Get data from Wordpress</p>
</md-subheader>
<div layout="row" layout-align="center" ng-if="wpListCtrl.isLoading">
    <md-progress-circular md-diameter="50"></md-progress-circular>
</div>
<md-list ng-if="wpListCtrl.connectors.length>0&&!wpListCtrl.isLoading">
    <md-list-item layout="row">
        <p flex="20">Name</p>
        <p flex="65">Host</p>
        <p flex="" class="ampize-text-right">
            Actions
        </p>

    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row"  ng-repeat-start="connector in wpListCtrl.connectors track by $index">
        <p flex="20">{{connector.name}}</p>
        <p flex="65">{{connector.host}}</p>
        <p flex="" class="ampize-text-right" ng-if="connector.interfaceIsLoading">
            <md-progress-circular md-mode="indeterminate" md-diameter="20"></md-progress-circular>
        </p>
        <p flex="" class="ampize-text-right" ng-if="!connector.interfaceIsLoading">
            <a ng-click="wpListCtrl.launchEditor(connector.name)" class="cursor-as-pointer"><md-tooltip md-direction="top">Edit</md-tooltip><md-icon class="material-icons">edit</md-icon></a>
            <a class="cursor-as-pointer"
               ng-click="wpListCtrl.deleteConnector(connector,$index,$event)">
                <md-tooltip md-direction="top">Delete</md-tooltip>
                <md-icon class="material-icons"> delete </md-icon>
            </a>
        </p>
    </md-list-item>
    <md-divider ng-if="!$last" ng-repeat-end></md-divider>
</md-list>
